$basicas: #0097d0;
$civil: #812893;
$electrica: #ff0000;
$industrial: #f57c00;
$mecanica: #015128;
$sistemas: #ffde01;

.bg-basicas {
  background-color: $basicas;
  box-shadow: 0 4px 20px 0 rgba(0, 151, 208, 0.14),
    0 7px 10px -5px rgba(0, 151, 208, 0.4);
  color: #fff;
}

.bg-civil {
  background-color: $civil;
  box-shadow: 0 4px 20px 0 rgba(129, 40, 147, 0.14),
    0 7px 10px -5px rgba(129, 40, 147, 0.4);
  color: #fff;
}

.bg-electrica {
  background-color: $electrica;
  box-shadow: 0 4px 20px 0 rgba(255, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 0, 0, 0.4);
  color: #fff;
}

.bg-industrial {
  background-color: $industrial;
  box-shadow: 0 4px 20px 0 rgba(245, 124, 0, 0.14),
    0 7px 10px -5px rgba(245, 124, 0, 0.4);
  color: #fff;
}
.bg-mecanica {
  background-color: $mecanica;
  box-shadow: 0 4px 20px 0 rgba(34, 164, 56, 0.14),
    0 7px 10px -5px rgba(34, 164, 56, 0.4);
  color: #fff;
}

.bg-sistemas {
  background-color: $sistemas;
  box-shadow: 0 4px 20px 0 rgba(255, 222, 1, 0.14),
    0 7px 10px -5px rgba(255, 222, 1, 0.4);
  color: #000;
}
