//Custom background colors
.bg-indigo{
  background-color: #3F51B5;
}

.bg-elegant{
  background-color: #2E2E2E;
}

.bg-unique{
  background-color: #880E4F;
}

.bg-argentina-blue{
  background-color: #0D73BA;
}

.bg-sbe-purple{
  background-color: #731E77;
}

.bg-campus-virtual{
  background-color: #47B9DE;
}

.bg-donde-curso-app{
  background-color: #283593;
}

.bg-donde-curso-web{
  background-color: #3199FF;
}

.bg-laboratorios{
  background-color: #b69ee4;
}

.bg-elemilio{
  background-color: #019AE6;
}

.blue-tutores{
  background-color: #2BBBAD;
}

.bg-menu-universitario{
  background-color: #F4DE3B;
}

.bg-libros-prestamos{
  background-color: #996633;
}

.bg-purple-horarios{
  background-color: #814CCE;
}

.bg-ceut{
  background-color: #249ED1;
}

.bg-black{
  background-color: #000000;
}

.bg-coffee{
  background-color: #974E2B;
}

.bg-medio-boleto{
  background: linear-gradient(to left, #1E579A , #745399);
}

.bg-movilidad{
  background: linear-gradient(40deg,#fc6262,#ffd86f);
}

.bg-guias{
  background: linear-gradient(40deg,#303f9f,#45cafc)
}

.bg-pink{
  background-color: #e23849;
}

