//Custom background colors
.bg-indigo {
  background-color: #3f51b5;
}

.bg-elegant {
  background-color: #2e2e2e;
}

.bg-unique {
  background-color: #880e4f;
}

.bg-argentina-blue {
  background-color: #0d73ba;
}

.bg-sbe-purple {
  background-color: #731e77;
}

.bg-campus-virtual {
  background-color: #47b9de;
}

.bg-donde-curso-app {
  background-color: #283593;
}

.bg-donde-curso-web {
  background-color: #3199ff;
}

.bg-laboratorios {
  background-color: #b69ee4;
}

.bg-elemilio {
  background-color: #019ae6;
}

.blue-tutores {
  background-color: #2bbbad;
}

.bg-menu-universitario {
  background-color: #f4de3b;
}

.bg-libros-prestamos {
  background-color: #996633;
}

.bg-purple-horarios {
  background-color: #814cce;
}

.bg-ceut {
  background-color: #249ed1;
}

.bg-black {
  background-color: #000000;
}

.bg-coffee {
  background-color: #974e2b;
}

.bg-medio-boleto {
  background: linear-gradient(to left, #1e579a, #745399);
}

.bg-movilidad {
  background: linear-gradient(40deg, #fc6262, #ffd86f);
}

.bg-guias {
  background: linear-gradient(40deg, #303f9f, #45cafc);
}

.bg-pink {
  background-color: #e23849;
}
