@font-face {
  font-family: exmouth;
  src: url(/assets/fonts/exmouth.ttf);
}

@font-face {
  font-family: alte-haas-grotesk-regular;
  src: url(/assets/fonts/alte-haas-grotesk-bold.ttf);
}

@font-face {
  font-family: alte-haas-grotesk-bold;
  src: url(/assets/fonts/alte-haas-grotesk-bold.ttf);
}

.title-teatro {
  font-family: exmouth;
  font-size: 2.5rem;
  font-weight: 600;
}

.title-carreras {
  font-family: alte-haas-grotesk-bold;
}

.title-cafe-tecnologico {
  font-family: pacifico;
  font-size: 2rem;
  font-weight: 600;
}
