<div class="card bg-primary shadow-nohover mx-auto p-0 h-100 rounded-0">
  <div class="card-body p-0 w-100">

    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2 class="card-title mb-0 p-3 text-white text-weight-bold" >{{ '¡Avisos importantes!' }}</h2>
        </div>
        <ngb-carousel>
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100 h-100" src="../assets/img/backgrounds/isi.jpg" alt="Random second slide">-->
          <!--<div class="carousel-caption title-carreras">-->
          <!--<h1 class="mb-2 text-black font-weight-bold">Ing. en Sistemas</h1>-->
          <!--<h3 class="mb-2 text-white font-weight-bold">Consultas: Redes de Información</h3>-->
          <!--<h4 class="text-black">Martes 8/5 - 19:00hs</h4>-->
          <!--<h4 class="text-black">Lab. de Conectividad</h4>-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100 h-100" src="../assets/img/backgrounds/inscripciones.png" alt="Random second slide">-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100" src="../assets/img/jeut.jpeg" alt="JEUT">-->
          <!--<div class="carousel-caption">-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100" src="../assets/img/bienestar.jpg" alt="Becas Bienestar">-->
          <!--<div class="carousel-caption">-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<a href="https://www.instagram.com/p/BhKBqP2neen/">-->
          <!--<img class="w-100" src="../assets/img/campaña_calculadoras.png" alt="Convocatoria Calculadoras">-->
          <!--</a>-->
          <!--<div class="carousel-caption">-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
            <!--<a href="https://goo.gl/MSZFhX">-->
              <!--<img class="w-100" src="../assets/img/ceut_paro_docente.jpg" alt="Paro Docente">-->
            <!--</a>-->
            <!--<div class="carousel-caption">-->
            <!--</div>-->
          <!--</ng-template>-->
          <ng-template ngbSlide>
            <a href="https://api.onedrive.com/v1.0/shares/u!aHR0cHM6Ly8xZHJ2Lm1zL3gvcyFBbmZJTUNncTlycE5oZUJISnpjcDl5R21tak1zeGc/root/content">
              <img class="w-100" src="../assets/img/biblioteca-ceut.png" alt="Biblioteca CEUT">
            </a>
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <a href="http://capacitacion.frsf.utn.edu.ar/">
              <img class="w-100" src="../assets/img/cursos_extracurriculares.png" alt="Cursos Extracurriculares">
            </a><div class="carousel-caption">
          </div>
          </ng-template>
          <ng-template ngbSlide>
            <a href="mailto:coro@frsf.utn.edu.ar">
              <img class="w-100" src="../assets/img/coro-full.jpeg" alt="Coro">
            </a>
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <a href="mailto:teatro@frsf.utn.edu.ar">
              <img class="w-100" src="../assets/img/teatro-aviso.png" alt="Teatro">
            </a>
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <a href="mailto:fdiaz@frsf.utn.edu.ar">
              <img class="w-100" src="../assets/img/lenguaje-expresivo-aviso.png" alt="Lenguaje Expresivo">
            </a>
            <div class="carousel-caption">
            </div>
          </ng-template>
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100" src="../assets/img/becas_ceut.jpeg" alt="Becas CEUT">-->
          <!--<div class="carousel-caption">-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100" src="../assets/img/backgrounds/fotocopias.png" alt="Beca Fotocopias">-->
          <!--<div class="carousel-caption">-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100 h-100" src="../assets/img/backgrounds/blueprint.png" alt="Random second slide">-->
          <!--<div class="carousel-caption title-carreras">-->
          <!--<h1 class="mb-3 text-black font-weight-bold">Ingenierías</h1>-->
          <!--<h2 class="mb-3 text-white font-weight-bold">Cursado de Electivas e Inglés</h2>-->
          <!--<h3 class="text-black">A partir del lunes 12 de Marzo</h3>-->
          <!--</div>-->
          <!--</ng-template>-->
          <!--<ng-template ngbSlide>-->
          <!--<img class="w-100 h-100" src="../assets/img/backgrounds/fondo_industrial.png" alt="Random second slide">-->
          <!--<div class="carousel-caption title-carreras">-->
          <!--<h1 class="mb-2 text-black font-weight-bold">Ing. Industrial</h1>-->
          <!--<h3 class="mb-2 text-white font-weight-bold">Investigación Operativa</h3>-->
          <!--<h4 class="text-black">Comienza el 13 de Marzo</h4>-->
          <!--</div>-->
          <!--</ng-template>-->
        </ngb-carousel>
      </div>
    </div>

  </div>
</div>
