<md-grid-list cols="6" rowHeight="100%">
  <md-grid-tile [colspan]="4" [rowspan]="1">
    <md-card class="app-grid">
      <md-card-content>
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <md-form-field floatPlaceholder="never">
              <input mdInput #filter placeholder="Filtrar...">
            </md-form-field>
          </div>

          <md-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Select Column -->
            <ng-container mdColumnDef="selection">
              <md-header-cell *mdHeaderCellDef> Selección </md-header-cell>
              <md-cell *mdCellDef='let row'>
                <md-checkbox>
                </md-checkbox>
              </md-cell>
            </ng-container>

            <!-- ID Column -->
            <ng-container mdColumnDef="lu">
              <md-header-cell *mdHeaderCellDef> LU </md-header-cell>
              <md-cell *mdCellDef='let row'> {{row.id}} </md-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container mdColumnDef="carrera">
              <md-header-cell *mdHeaderCellDef> Carrera </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.carrera}} </md-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container mdColumnDef="nombre">
              <md-header-cell *mdHeaderCellDef> Nombre </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container mdColumnDef="color">
              <md-header-cell *mdHeaderCellDef> Color </md-header-cell>
              <md-cell *mdCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
          </md-table>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="2" [rowspan]="1">
    <md-card class="detail-right-card mat-elevation-z8">
      <md-card-content>
        <div class="">
          <button md-raised-button color="primary" (click)="abrirModal()">Agregar Nuevo</button>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>
