#icono-carrera {
  width: 125px;
  height: 125px;
  margin-top: -25px;
  border-radius: 4px;
}

#filtro-cuatrimestres {
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;

  background-color: #e9ecef;
  height: 48px;

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

#icono-calculadora {
  width: 48px;
  height: 48px;
  margin-top: -25px;
  margin-right: 15px;
  @media (max-width: 767px) {
    display: inline-flex !important;
  }
}

#icono-ayuda {
  height: 48px;
  width: 48px;
  margin-left: 15px;
  margin-top: -25px;
  @media (max-width: 767px) {
    display: inline-flex !important;
  }
}

#dropdown-carrera {
  @media (max-width: 767px) {
    width: calc(100% - 150px);
    display: inline-flex !important;
    margin-top: -25px;
  }
  @media (min-width: 768px) {
    width: 225px;
    margin-top: -30px;
  }
  height: 48px;
}

#container {
  @media (max-width: 575px) {
    margin-top: 3rem;
  }
  @media (min-width: 575px) and (max-width: 991px) {
    margin-top: 3rem;
  }
  @media (min-width: 992px) {
    margin-top: 3rem;
  }
}

#recomendacion-pantalla {
  margin-bottom: 2.4rem;
}

#redes-sociales {
  margin: auto;

  @media (min-width: 992px) {
    width: 225px;
  }

  img {
    max-height: 40px;
    max-width: 40px;
  }
}
