<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center">
      <div class="card-header">
        <h2>CONSULTA DE PADRÓN 2023</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="dni" class="form-label">Número de DNI</label>
            <input
              type="text"
              class="form-control"
              id="dni"
              aria-describedby="dniHelp"
              name="dni"
              [(ngModel)]="dni"
            />
            <div id="dniHelp" class="form-text">Sin puntos ni guiones.</div>
          </div>
          <button type="submit" class="btn btn-primary">🔎 Consultar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="consultado && votante!==null">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center">
      <div class="card-header bg-success text-light">
        <h2>Tschopp, Juan Blas</h2>
      </div>
      <div class="card-body">
        <b>DNI:</b> 42.530.052 <br />
        <b>Legajo:</b> 26063 <br />
        <b>Carrera:</b> Ing. Sist. Inf. <br />
        <br />
        <b>Habilitado/a para votar</b>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="consultado && votante===null">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center">
      <div class="card-header bg-danger text-light">
        <h2>DNI no encontrado</h2>
      </div>
      <div class="card-body">
        No encontramos tu DNI en el padrón. <br />
        Contactate con la Junta Electoral antes del 20/10.
      </div>
    </div>
  </div>
</div>
