<div id="container">
  <div class="w-100 text-center mb-4">
    <img id="jeut_logo" class="mt-3" [src]="'assets/img/deportes/jeut.png'"/>
  </div>

  <ngb-tabset>
    <ngb-tab *ngFor="let deporte of listaDeportes">
      <ng-template ngbTabTitle>
        <b>
          <img [src]="'assets/img/deportes/' + deporte.icono"/>
        </b>
      </ng-template>

      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5>{{ deporte.nombre }}</h5>
            </div>
            <div class="card-text">
              <p>📅 <strong>Días y horarios:</strong> {{ deporte.horario }}</p>
              <p>👫 <strong>Equipos:</strong> {{ deporte.equipos }}</p>
              <p>🏆 <strong>Premios:</strong> {{ deporte.premios }}</p>
              <p>📜 <strong>Reglas:</strong> {{ deporte.reglas }}</p>
              <p *ngFor="let parrafo of deporte.descripcion">
                {{ parrafo }}
              </p>
              <p> ¿Ya pagaste la inscripción para participar del torneo de League of Legends?</p>
              <p> Sumate al canal de Discord de estudiantes de la UTN FRSF <a href=""></a></p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div class="card mt-3">
    <div class="card-body">
      <div class="card-title">
        <h5>Inscripciones e Info General</h5>
      </div>
      <div class="card-text">
        <p>📄 Las actividades de la JEUT se llevarán adelante a la par de la Semana de la Salud los días miércoles 15/5 y viernes 17/5, a excepción del torneo de League of Legends, que se llevará adelante durante toda la semana, desde el lunes 13/5 hasta el viernes 17/5.</p>
        <p>🎫 Si te anotás a una única actividad con premios, el costo de la inscripción es de $60. Si te anotás a dos actividades, el costo único de inscripción para participar de las dos es de $80.</p>
      </div>
    </div>
  </div>
</div>
