app-deportes{

  #container{
    @media(min-width: 992px){
      width: 600px;

    }
  }

  ngb-tabset{
    .nav-tabs .nav-item{
      img{
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
