app-deportes {
  #container {
    @media (min-width: 992px) {
      width: 640px;
    }
  }

  #jeut_logo {
    @media (max-width: 767px) {
      max-width: 200px;
      width: 50%;
    }
    @media (min-width: 768px) {
      max-width: 300px;
      //width: 25%;
    }
  }

  ngb-tabset {
    .nav-tabs .nav-item {
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
