.list-group-item {
  &:hover {
    cursor: pointer;
    background-color: darkblue;
  }
}

#left-card,
#right-card {
  .card-body {
    height: 600px;
  }
}

#right-card {
  #card-list-container {
    overflow-y: auto;
    max-height: 200px;
  }
}

.input-group-prepend .input-group-text {
  width: 110px;
}
