<div class="mt-2">
  <div class="row">
    <div class="col-7">
      <div id="left-card" class="card mb-3">
        <div class="card-header">
          <div class="row no-gutters">
            <div class="col-4">Vista Previa</div>
            <div class="col-8 text-right">
              <button class="btn btn-sm btn-outline-danger">Revertir Cambios 🔙</button>
              <button class="ml-2 btn btn-sm btn-outline-success">Guardar 💾</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ng-container *ngIf="!selectedCard">
            Seleccione una tarjeta de la lista
          </ng-container>
          <ng-container *ngIf="selectedCard">
            <div
              tarjeta-generica
              class="card shadow-nohover mx-auto"
              [card]="selectedCard"
            ></div>
            <hr />
            <span><strong>Nro. de Id: </strong>{{selectedCard.id}}</span>
            <div class="input-group input-group-sm mb-2">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="selectedCard.enabled"
                  id="estadoTarjeta"
                />
                <label class="form-check-label" for="estadoTarjeta">
                  Tarjeta habilitada
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="selectedCard.title"
                  id="mostrarTitulo"
                />
                <label class="form-check-label" for="mostrarTitulo">
                  Mostrar título
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="selectedCard.title"
                  id="mostrarContenido"
                />
                <label class="form-check-label" for="mostrarContenido">
                  Incluir contenido
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="selectedCard.footer"
                  id="mostrarFooter"
                />
                <label class="form-check-label" for="mostrarFooter">
                  Incluir footer
                </label>
              </div>
            </div>
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Título</span>
              </div>
              <input class="form-control" [(ngModel)]="selectedCard.title" />
            </div>
            <div class="input-group input-group-sm mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Link</span>
              </div>
              <input class="form-control" [(ngModel)]="selectedCard.link" />
            </div>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">URL Ícono</span>
              </div>
              <input class="form-control" [(ngModel)]="selectedCard.icon" />
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div id="right-card" class="col-5">
      <div class="card mb-3">
        <div class="card-header">Lista de Tarjetas</div>
        <div class="card-body">
          <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Buscar:</span>
            </div>
            <input
              class="form-control"
              [(ngModel)]="search"
              (ngModelChange)="filter(search)"
            />
          </div>
          <div id="card-list-container" class="input-group input-group-sm">
            <div *ngIf="filteredCards && filteredCards.length" class="btn-group-vertical w-100">
              <button
                *ngFor="let card of filteredCards"
                class="text-left btn btn-outline-secondary"
                type="button"
                (click)="selectCard(card.id)"
              >
                {{ card.title }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
