<section id="main-header" *ngIf="activePage">
  <nav
    id="navbar"
    class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center"
  >
    <div class="align-items-start me-3">
      <a
        class="navbar-brand p-1 m-0"
        [href]="'https://m.me/' + activePage.messenger"
        ngbTooltip="Escribinos vía Messenger"
        placement="right"
      >
        <img
          id="messenger-icon"
          [src]="'assets/img/facebook-messenger.png'"
          [alt]="'Logo Messenger'"
        />
      </a>
      <a
        class="navbar-brand p-1 m-0 ms-sm-3"
        [href]="'https://instagram.com/' + activePage.instagram"
        ngbTooltip="Contactate vía Instagram"
        placement="right"
      >
        <img
          id="instagram-icon"
          [src]="'assets/img/instagram-icon.png'"
          [alt]="'Logo Instagram'"
        />
      </a>
    </div>

    <div class="align-items-start align-items-sm-center">
      <a class="navbar-brand" routerLink="/"
        ><img [src]="'assets/img/' + activePage.logo" [alt]="'Logo CEUT FRSF'"
      /></a>
    </div>

    <div class="align-items-end">
      <div
        ngbDropdown
        class="d-inline-block d-md-none"
        display="dynamic"
        placement="bottom-right"
      >
        <button
          class="btn btn-outline-primary rounded-0"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a
            class="dropdown-item d-flex align-items-center"
            [href]="'https://instagram.com/' + activePage.instagram"
          >
            <img
              id="instagram-icon"
              [src]="'assets/img/instagram-icon.png'"
              [alt]="'Logo Instagram'"
            />
            <label class="ps-3 mb-0">Instagram CEUT FRSF</label>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item d-flex align-items-center"
            [href]="'https://m.me/' + activePage.messenger"
            ngbTooltip="Escribinos vía Messenger"
            placement="right"
          >
            <img
              id="messenger-icon"
              [src]="'assets/img/facebook-messenger.png'"
              [alt]="'Logo Messenger'"
            />
            <label class="ps-3 mb-0">Messenger CEUT FRSF</label>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item d-flex align-items-center"
            routerLink="/electivas"
          >
            <i class="fa fa-2x fa-sign-in-alt" aria-hidden="true"></i>
            <label class="ps-3 mb-0">Electivas</label>
          </a>
        </div>
      </div>

      <div class="d-none d-md-flex">
        <a class="btn btn-primary me-3" routerLink="/electivas">
          <i class="fa fa-sign-in-alt me-2" aria-hidden="true"></i>Electivas
        </a>
      </div>
    </div>
  </nav>
</section>
