@if (activePage()) {
  <section id="main-header">
    <nav id="navbar" class="flex items-center justify-center bg-gray-100 px-5 py-2 gap-4">
      <div class="hidden md:flex flex-1 justify-end">
        <a class="p-1" [href]="'https://instagram.com/' + activePage().instagram" title="Contactate vía Instagram">
          <img id="instagram-icon" class="max-h-[30px]" src="assets/img/instagram-icon.png" alt="Logo Instagram" />
        </a>
      </div>
      <a routerLink="/">
        <img
          class="max-h-[40px] max-w-[150px] md:max-h-[50px]"
          [src]="'assets/img/' + activePage().logo"
          alt="Logo CEUT FRSF"
        />
      </a>
      <div class="flex flex-1 justify-end">
        <!-- Mobile dropdown -->
        <div class="relative inline-block md:hidden">
          <button
            class="rounded border border-blue-600 px-3 py-2 text-blue-600 hover:bg-blue-50"
            (click)="toggleMenu()"
          >
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          @if (menuOpen()) {
            <div class="absolute right-0 z-50 mt-1 min-w-56 rounded border border-gray-200 bg-white shadow-lg">
              <a
                class="flex items-center px-4 py-2 hover:bg-gray-100"
                [href]="'https://instagram.com/' + activePage().instagram"
              >
                <img class="h-8 max-h-8" src="assets/img/instagram-icon.png" alt="Logo Instagram" />
                <span class="ps-3">Instagram CEUT FRSF</span>
              </a>
              <hr class="border-gray-200" />
              <a
                class="flex items-center px-4 py-2 hover:bg-gray-100"
                routerLink="/electivas"
                (click)="menuOpen.set(false)"
              >
                <i class="fa fa-2x fa-sign-in-alt" aria-hidden="true"></i>
                <span class="ps-3">Electivas</span>
              </a>
            </div>
          }
        </div>
        <!-- Desktop nav -->
        <div class="hidden md:flex">
          <a class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700" routerLink="/electivas">
            <i class="fa fa-sign-in-alt me-2" aria-hidden="true"></i>Electivas
          </a>
        </div>
      </div>
    </nav>
  </section>
}
