<div id="search-bar" class="bg-light shadow ps-3 pe-3 ps-sm-0 pe-sm-0">
  <div class="input-group mx-auto">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <input
      class="form-control"
      type="search"
      placeholder="Buscar..."
      aria-label="Search"
      [(ngModel)]="barraDeBusqueda"
      (ngModelChange)="cardService.applyFilter(barraDeBusqueda)"
    />
  </div>
</div>

<app-loading-spinner
  *ngIf="cardService.cargando"
  mensaje="Cargando tarjetas..."
></app-loading-spinner>

<ng-container *ngIf="!cardService.cargando">
  <!-- Sección de tarjetas fijas -->
  <div id="avisos" class="text-center mt-2">
    <ng-container *ngFor="let card of cardService.fixedCards">
      <!-- TODO: Refinar feature de cambio de tamaño horizontal de tarjetas, haciéndolo programático -->
      <app-tarjeta-generica [card]="card"></app-tarjeta-generica>
    </ng-container>
  </div>

  <hr *ngIf="cardService.fixedCards.length" />

  <div id="contenido" class="text-center">
    <ng-container *ngFor="let card of cardService.assortedCards">
      <app-tarjeta-generica
        *ngIf="card.enabled"
        [card]="card"
      ></app-tarjeta-generica>
    </ng-container>
  </div>
</ng-container>
