:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
}

.card-body {
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
  border: none;
}

app-tarjeta-generica,
app-tarjeta-avisos {
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
  margin-bottom: 16px;
}

.p-0 img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bg-teatro {
  background-size: cover;
  background-image: url("../../assets/img/teatro-fondo.png");
}

.jeut-d {
  background-size: cover;
  background-image: url("../../assets/img/jeut-d.jpeg");
}

#search-bar {
  top: 74px;
  position: sticky;
  height: 48px;
  z-index: 3;
  margin-left: -15px;
  margin-right: -15px;

  .input-group {
    background-color: white;
    position: sticky;
    z-index: 3;

    @media (min-width: 576px) {
      max-width: 350px;
    }
  }
}

#avisos,
#contenido {
  column-gap: 10px;
  @media (max-width: 991px) {
    column-count: 1;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    column-count: 2;
  }
  @media (min-width: 1200px) {
    column-count: 3;
  }
}
