<h1 class="my-4 text-center text-2xl font-bold">CALENDARIO ACADEMICO 2022-23</h1>
<div class="flex" role="group">
  <a class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700" href="calendario#marzo" role="button"
    >Marzo</a
  >
  <a class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700" href="calendario#abril" role="button"
    >Abril</a
  >
  <a class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700" href="calendario#mayo" role="button"
    >Mayo</a
  >
  <a class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700" href="calendario#junio" role="button"
    >Junio</a
  >
  <a class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700" href="calendario#julio" role="button"
    >Julio</a
  >
</div>
<div class="flex" role="group">
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#agosto"
    role="button"
    >Agosto</a
  >
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#septiembre"
    role="button"
    >Septiembre</a
  >
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#octubre"
    role="button"
    >Octubre</a
  >
</div>
<div class="flex" role="group">
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#noviembre"
    role="button"
    >Noviembre</a
  >
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#diciembre"
    role="button"
    >Diciembre</a
  >
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#febrero"
    role="button"
    >Febrero 2023</a
  >
  <a
    class="flex-1 bg-blue-600 px-3 py-2 text-center text-white hover:bg-blue-700"
    href="calendario#marzo-b"
    role="button"
    >Marzo 2023</a
  >
</div>
<div translate="no">
  <div class="flex flex-wrap">
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="marzo">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Marzo</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"></td>
            <td class="inscripciones rounded-l feriado">1</td>
            <td class="inscripciones">2</td>
            <td class="inscripciones">3</td>
            <td class="inscripciones">4</td>
            <td class="inscripciones rounded-r">5</td>
          </tr>
          <tr>
            <td class="inscripciones rounded-l feriado">6</td>
            <td class="inscripciones">7</td>
            <td class="inscripciones rounded-r">8</td>
            <td class="cuatrimestre rounded">9</td>
            <td class="">10</td>
            <td>11</td>
            <td>12</td>
          </tr>
          <tr>
            <td class="feriado">13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
          </tr>
          <tr>
            <td class="feriado">20</td>
            <td class="inicioPrimero rounded">21</td>
            <td>22</td>
            <td class="">23</td>
            <td class="feriado">24</td>
            <td>25</td>
            <td>26</td>
          </tr>
          <tr>
            <td class="feriado">27</td>
            <td>28</td>
            <td class="inscripcionesF rounded-l">29</td>
            <td class="inscripcionesF rounded-r">30</td>
            <td>31</td>
          </tr>
        </tbody>
      </table>
      <p>
        1. Carnaval <br />
        24. Dia de la Memoria por la Verdad y la Justicia
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="abril">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Abril</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5"></td>
            <td class="">1</td>
            <td class="feriado">2</td>
          </tr>
          <tr>
            <td class="feriado">3</td>
            <td>4</td>
            <td class="examenes rounded-l">5*</td>
            <td class="examenes">6*</td>
            <td class="examenes">7*</td>
            <td class="examenes rounded-r">8*</td>
            <td>9</td>
          </tr>
          <tr>
            <td class="feriado">10</td>
            <td>11</td>
            <td class="">12</td>
            <td>13</td>
            <td class="feriado">14</td>
            <td class="feriado">15</td>
            <td>16</td>
          </tr>
          <tr>
            <td class="feriado">17</td>
            <td>18</td>
            <td class="">19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
          </tr>
          <tr>
            <td class="feriado">24</td>
            <td>25</td>
            <td class="">26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td class="">30</td>
          </tr>
        </tbody>
      </table>
      <p>
        * Con dictado de clases <br />
        2. Dia del Veterano y de los Caidos en la Guerra de Malvinas <br />
        14. Jueves Santo <br />
        15. Viernes Santo <br />
        17. Pascua
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="mayo">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Mayo</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="feriado">1</td>
            <td class="feriado">2</td>
            <td class="">3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td class="feriado">8</td>
            <td class="inscripcionesF rounded-l">9</td>
            <td class="inscripcionesF">10</td>
            <td class="inscripcionesF rounded-r">11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
          </tr>
          <tr>
            <td class="feriado">15</td>
            <td>16</td>
            <td class="examenes rounded-l">17</td>
            <td class="examenes">18</td>
            <td class="examenes">19</td>
            <td class="examenes rounded-r">20</td>
            <td>21</td>
          </tr>
          <tr>
            <td class="feriado">22</td>
            <td>23</td>
            <td class="">24</td>
            <td class="feriado">25</td>
            <td>26</td>
            <td class="">27</td>
            <td class="">28</td>
          </tr>
          <tr>
            <td class="feriado">29</td>
            <td>30</td>
            <td class="">31</td>
          </tr>
        </tbody>
      </table>
      <p>
        1. Dia del Trabajador <br />
        2. Dia del Docente Tecnologico <br />
        25. Revolucion de Mayo <br />
      </p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="junio">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Junio</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3"></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td class="feriado">5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
          </tr>
          <tr>
            <td class="feriado">12</td>
            <td>13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td>16</td>
            <td class="feriado">17</td>
            <td>18</td>
          </tr>
          <tr>
            <td class="feriado">19</td>
            <td class="feriado">20</td>
            <td class="">21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
          </tr>
          <tr>
            <td class="feriado">26</td>
            <td class="inscripcionesF rounded-l">27</td>
            <td class="inscripcionesF">28</td>
            <td class="inscripcionesF rounded-r">29</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
      <p>
        17. Paso a la Inmortalidad del General Guemes <br />
        20. Paso a la Inmortalidad del General Belgrano (<abbr title="trasladado">trasl.</abbr>)
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="julio">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Julio</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5"></td>
            <td class="cuatrimestre rounded">1</td>
            <td class="">2</td>
          </tr>
          <tr>
            <td class="feriado">3</td>
            <td>4</td>
            <td class="examenes rounded-l">5</td>
            <td class="examenes">6</td>
            <td class="examenes">7</td>
            <td class="examenes rounded-r">8</td>
            <td class="feriado">9</td>
          </tr>
          <tr>
            <td class="feriado">10</td>
            <td>11</td>
            <td class="">12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
          </tr>
          <tr>
            <td class="feriado">17</td>
            <td>18</td>
            <td class="">19</td>
            <td>20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
          </tr>
          <tr>
            <td class="feriado">24</td>
            <td class="inscripcionesF rounded-l">25</td>
            <td class="inscripcionesF">26</td>
            <td class="inscripcionesF rounded-r">27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
          </tr>
          <tr>
            <td class="feriado">31</td>
          </tr>
        </tbody>
      </table>
      <p>9. Dia de la Independencia Argentina</p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="agosto">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Agosto</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>1</td>
            <td class="examenes rounded-l">2</td>
            <td class="examenes">3</td>
            <td class="examenes">4</td>
            <td class="examenes rounded-r">5</td>
            <td class="inscripciones rounded">6</td>
          </tr>
          <tr>
            <td class="inscripciones rounded-l">7</td>
            <td class="inscripciones">8</td>
            <td class="inscripciones">9</td>
            <td class="inscripciones">10</td>
            <td class="inscripciones">11</td>
            <td class="inscripciones rounded-r">12</td>
            <td>13</td>
          </tr>
          <tr>
            <td>14</td>
            <td class="feriado">15</td>
            <td class="cuatrimestre rounded">16</td>
            <td class="">17</td>
            <td class="">18</td>
            <td class="feriado">19</td>
            <td class="">20</td>
          </tr>
          <tr>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td class="">24</td>
            <td class="">25</td>
            <td>26</td>
            <td>27</td>
          </tr>
          <tr>
            <td>28</td>
            <td>29</td>
            <td class="">30</td>
            <td>31</td>
          </tr>
        </tbody>
      </table>
      <p>
        15. Paso a la inmortalidad del Gral. Jose de San Martin <br />
        19. Creacion de la UON
      </p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="septiembre">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Septiembre</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4"></td>
            <td class="">1</td>
            <td class="">2</td>
            <td class="">3</td>
          </tr>
          <tr>
            <td class="feriado">4</td>
            <td class="inscripcionesF rounded-l">5</td>
            <td class="inscripcionesF">6</td>
            <td class="inscripcionesF rounded-r">7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td class="feriado">11</td>
            <td>12</td>
            <td class="examenes rounded-l">13*</td>
            <td class="examenes">14*</td>
            <td class="examenes">15*</td>
            <td class="examenes rounded-r">16*</td>
            <td>17</td>
          </tr>
          <tr>
            <td class="feriado">18</td>
            <td>19</td>
            <td class="">20</td>
            <td class="feriado">21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
          </tr>
          <tr>
            <td class="feriado">25</td>
            <td>26</td>
            <td class="">27</td>
            <td>28</td>
            <td>29</td>
            <td class="feriado">30</td>
          </tr>
        </tbody>
      </table>
      <p>
        * Con dictado de clases <br />
        20. Conmemoracion del Dia del Estudiante - 19 hs. <br />
        21. Dia del Estudiante <br />
        30. San Jeronimo - Patrono de Santa Fe
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="octubre">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Octubre</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6"></td>
            <td>1</td>
          </tr>
          <tr>
            <td class="feriado">2</td>
            <td>3</td>
            <td class="">4</td>
            <td>5</td>
            <td>6</td>
            <td class="feriado">7</td>
            <td class="">8</td>
          </tr>
          <tr>
            <td class="feriado">9</td>
            <td class="feriado">10</td>
            <td class="inscripcionesF rounded-l">11</td>
            <td class="inscripcionesF rounded-r">12</td>
            <td class="">13</td>
            <td>14</td>
            <td>15</td>
          </tr>
          <tr>
            <td class="feriado">16</td>
            <td>17</td>
            <td class="examenes rounded-l">18</td>
            <td class="examenes">19</td>
            <td class="examenes">20</td>
            <td class="examenes rounded-r">21</td>
            <td>22</td>
          </tr>
          <tr>
            <td class="feriado">23</td>
            <td>24</td>
            <td class="">25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
          </tr>
          <tr>
            <td class="feriado">30</td>
            <td>31</td>
          </tr>
        </tbody>
      </table>
      <p>
        7. Feriado con fines turisticos <br />
        10. Dia del Respeto a la Diversidad Cultural (<abbr title="trasladado">trasl.</abbr>) <br />
        14. Acto de Colacion de Grado - 19 hs.
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="noviembre">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Noviembre</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2"></td>
            <td class="">1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
          <tr>
            <td class="feriado">6</td>
            <td>7</td>
            <td class="">8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
          </tr>
          <tr>
            <td class="feriado">13</td>
            <td>14</td>
            <td class="feriado">15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
          </tr>
          <tr>
            <td class="feriado">20</td>
            <td>21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td>24</td>
            <td class="">25</td>
            <td class="feriado">26</td>
          </tr>
          <tr>
            <td class="feriado">27</td>
            <td class="">28</td>
            <td class="">29</td>
            <td class="">30</td>
          </tr>
        </tbody>
      </table>
      <p>
        15. Aniversario Fundacion de la Ciudad de Santa Fe <br />
        20. Dia de la Soberania Nacional <br />
        26. Dia del No Docente
      </p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="diciembre">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Diciembre</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4"></td>
            <td class="">1</td>
            <td class="cuatrimestre rounded">2</td>
            <td>3</td>
          </tr>
          <tr>
            <td class="feriado">4</td>
            <td class="inscripcionesF rounded-l">5</td>
            <td class="inscripcionesF">6</td>
            <td class="inscripcionesF rounded-r">7</td>
            <td class="feriado">8</td>
            <td class="feriado">9</td>
            <td class="">10</td>
          </tr>
          <tr>
            <td class="feriado">11</td>
            <td class="">12</td>
            <td class="examenes rounded-l">13</td>
            <td class="examenes">14</td>
            <td class="examenes">15</td>
            <td class="examenes rounded-r">16</td>
            <td class="">17</td>
          </tr>
          <tr>
            <td class="feriado">18</td>
            <td>19</td>
            <td class="">20</td>
            <td class="">21</td>
            <td class="">22</td>
            <td class="">23</td>
            <td>24</td>
          </tr>
          <tr>
            <td class="feriado">25</td>
            <td>26</td>
            <td class="">27</td>
            <td class="">28</td>
            <td class="">29</td>
            <td class="">30</td>
            <td class="">31</td>
          </tr>
        </tbody>
      </table>
      <p>
        8. Inmaculada Concepcion <br />
        9. Feriado con fines turisticos <br />
        25. Navidad
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="febrero">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Febrero 2023</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3"></td>
            <td class="inscripcionesF rounded-l">1</td>
            <td class="inscripcionesF rounded-r">2</td>
            <td class="">3</td>
            <td class="">4</td>
          </tr>
          <tr>
            <td class="feriado">5</td>
            <td class="">6</td>
            <td class="examenes rounded-l">7</td>
            <td class="examenes">8</td>
            <td class="examenes">9</td>
            <td class="examenes rounded-r">10*</td>
            <td class="inscripcionesF rounded">11</td>
          </tr>
          <tr>
            <td class="feriado inscripcionesF rounded">12</td>
            <td>13</td>
            <td class="examenes rounded-l">14</td>
            <td class="examenes">15</td>
            <td class="examenes">16</td>
            <td class="examenes rounded-r">17</td>
            <td class="">18</td>
          </tr>
          <tr>
            <td class="feriado">19</td>
            <td class="feriado">20</td>
            <td class="feriado">21</td>
            <td class="inscripcionesF rounded-l">22</td>
            <td class="inscripcionesF rounded-r">23</td>
            <td class="">24</td>
            <td class="">25</td>
          </tr>
          <tr>
            <td class="feriado">26</td>
            <td>27</td>
            <td class="examenes rounded">28</td>
          </tr>
        </tbody>
      </table>
      <p>
        * Inicio inscripcion 9 llamado <br />
        20 y 21. Carnavales
      </p>
    </div>
    <div class="mt-4 w-full rounded-2xl md:w-1/3" id="marzo-b">
      <table class="calendario-table w-full rounded shadow">
        <thead>
          <tr>
            <th class="mes rounded-t" colspan="7">Marzo 2023</th>
          </tr>
          <tr>
            <th class="feriado">D</th>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3"></td>
            <td class="examenes rounded-l">1</td>
            <td class="examenes">2</td>
            <td class="examenes rounded-r">3*</td>
            <td class="">4</td>
          </tr>
          <tr>
            <td class="feriado">5</td>
            <td>6</td>
            <td class="">7</td>
            <td>8</td>
            <td class="">9</td>
            <td class="">10</td>
            <td class="">11</td>
          </tr>
          <tr>
            <td class="feriado">12</td>
            <td>13</td>
            <td class="">14</td>
            <td class="">15</td>
            <td class="">16</td>
            <td class="">17</td>
            <td class="">18</td>
          </tr>
          <tr>
            <td class="feriado">19</td>
            <td>20</td>
            <td class="">21</td>
            <td>22</td>
            <td class="">23</td>
            <td class="feriado">24</td>
            <td class="">25</td>
          </tr>
          <tr>
            <td class="feriado">26</td>
            <td>27</td>
            <td class="">28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
          </tr>
        </tbody>
      </table>
      <p>
        * Final del Ciclo Lectivo 2022 <br />
        24. Dia Nacional de la Memoria por la Verdad y la Justicia
      </p>
    </div>
  </div>
</div>

<div class="h-32"></div>

<div class="flex justify-center">
  <div class="referencias m-0 p-0 md:w-2/12">
    <table
      class="calendario-table m-0 w-full rounded-t p-0 text-left"
      style="box-shadow: 0 -5px 1rem rgba(0, 0, 0, 0.5)"
    >
      <tbody>
        <tr>
          <td class="inscripciones rounded-t">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Inscripciones al Cursado</td>
        </tr>
        <tr>
          <td class="cuatrimestre"></td>
          <td>Inicio/Fin del cuatrimestre</td>
        </tr>
        <tr>
          <td class="inicioPrimero"></td>
          <td>Inicio de 1 nivel</td>
        </tr>
        <tr>
          <td class="examenes"></td>
          <td>Examenes finales</td>
        </tr>
        <tr>
          <td class="inscripcionesF"></td>
          <td>Inscripciones a examenes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
