<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="align-items-start">
    <a *ngIf="!currentUser" class="navbar-brand p-1 m-0" href="https://m.me/ceut.frsf" ngbTooltip="Escribinos vía Messenger" placement="right">
      <img id="messenger-icon" [src]="'assets/img/facebook-messenger.png'">
    </a>
    <a *ngIf="!currentUser" class="navbar-brand p-1 m-0" href="https://instagram.com/ceut.frsf" ngbTooltip="Contactate vía Instagram" placement="right">
      <img id="instagram-icon" [src]="'assets/img/instagram-icon.png'">
    </a>
  </div>
  <div class="mx-auto d-inline-flex align-items-center">
    <a class="navbar-brand" href="#"><img [src]="'assets/img/logo-ceut.png'"></a>
  </div>
  <div class="align-items-end">
    <a *ngIf="currentUser" class="btn btn-outline-primary active mr-1" routerLink="/home">Panel Principal</a>
    <a *ngIf="currentUser" class="btn btn-outline-primary active" (click)="logout()">Salir</a>
    <a *ngIf="!currentUser" class="btn btn-outline-primary active" routerLink="/login">Ingresar</a>
  </div>

</nav>

<div class="container mt-2">
  <router-outlet></router-outlet>
</div>

<!--<ng-template #content let-c="close" let-d="dismiss">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Registro</h4>-->
<!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<modal-registro-estudiantes></modal-registro-estudiantes>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Cerrar</button>-->
<!--<button type="button" class="btn btn-outline-success" (click)="c('Close click')">Guardar</button>-->
<!--</div>-->
<!--</ng-template>-->
