<div id="app" class="container p-0">
  <!-- TODO: Deshacer y volver a justify-content-between -->
  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">

    <!-- TODO: Borrar d-none del div de abajo para CEUT -->
    <!--<div class="d-none align-items-start d-none d-md-flex">-->
    <div class="d-none align-items-start">
      <a *ngIf="!currentUser" class="navbar-brand p-1 m-0" href="https://m.me/ceut.frsf" ngbTooltip="Escribinos vía Messenger" placement="right">
        <img id="messenger-icon" [src]="'assets/img/facebook-messenger.png'">
      </a>
      <a *ngIf="!currentUser" class="navbar-brand p-1 m-0 ml-sm-3" href="https://instagram.com/ceut.frsf" ngbTooltip="Contactate vía Instagram" placement="right">
        <img id="instagram-icon" [src]="'assets/img/instagram-icon.png'">
      </a>
    </div>

    <div class="d-none align-items-start">
      <a class="navbar-brand p-1 m-0" href="https://m.me/metas.frsf" ngbTooltip="Escribinos vía Messenger" placement="right">
        <img id="messenger-icon" [src]="'assets/img/facebook-messenger.png'">
      </a>
      <a class="navbar-brand p-1 m-0 ml-sm-3" href="https://instagram.com/metas.frsf" ngbTooltip="Contactate vía Instagram" placement="right">
        <img id="instagram-icon" [src]="'assets/img/instagram-icon.png'">
      </a>
    </div>

    <div class="align-items-start align-items-sm-center">
      <a class="navbar-brand" routerLink="/"><img [src]="'assets/img/logo-ceut.png'"></a>
<!--      <a class="navbar-brand ml-3 d-none d-md-inline" routerLink="/deportes"><img [src]="'assets/img/deportes/jeut.png'"></a>-->
    </div>

    <!--<div class="align-items-center">-->
    <!--<a class="navbar-brand" href="#"><img [src]="'assets/img/logo-metas.png'"></a>-->
    <!--</div>-->

    <!-- TODO: Borrar d-none del div de abajo para CEUT -->
    <div class="align-items-end">

      <div ngbDropdown class="d-inline-block d-md-none" placement="bottom-right">
        <button class="btn btn-outline-primary rounded-0" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

          <ng-container *ngIf="!currentUser">
            <a class="dropdown-item d-flex align-items-center" routerLink="/login">
              <i class="fa fa-2x fa-sign-in-alt" aria-hidden="true"></i>
              <label class="pl-3 mb-0">Ingresar</label>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" href="https://instagram.com/ceut.frsf">
              <img id="instagram-icon" [src]="'assets/img/instagram-icon.png'">
              <label class="pl-3 mb-0">Instagram CEUT FRSF</label>
            </a>
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="/deportes" ngbTooltip="JEUT 2019 - 1C" placement="right">-->
<!--              <img id="jeut-icon" [src]="'assets/img/deportes/jeut.png'">-->
<!--              <label class="pl-3 mb-0">JEUT</label>-->
<!--            </a>-->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" href="https://m.me/ceut.frsf" ngbTooltip="Escribinos vía Messenger" placement="right">
              <img id="messenger-icon" [src]="'assets/img/facebook-messenger.png'">
              <label class="pl-3 mb-0">Messenger CEUT FRSF</label>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" routerLink="/electivas">
              <i class="fa fa-2x fa-sign-in-alt" aria-hidden="true"></i>
              <label class="pl-3 mb-0">Electivas</label>
            </a>
          </ng-container>

          <ng-container *ngIf="currentUser">
            <a class="dropdown-item d-flex align-items-center" routerLink="/home">
              <i class="fa fa-2x fa-columns" aria-hidden="true"></i>
              <label class="pl-3 mb-0">Panel Principal</label>
            </a>
            <a class="dropdown-item d-flex align-items-center" (click)="logout()">
              <i class="fa fa-2x fa-sign-out-alt" aria-hidden="true"></i>
              <label class="pl-3 mb-0">Salir</label>
            </a>
          </ng-container>

        </div>

      </div>

      <div class="d-none d-md-flex">
        <ng-container *ngIf="currentUser">
          <a class="btn btn-outline-primary active mr-1" routerLink="/electivas">
            <i class="fa fa-sign-in-alt mr-2" aria-hidden="true"></i>Electivas
          </a>
          <a class="btn btn-outline-primary active mr-1" routerLink="/home">
            <i class="fa fa-columns mr-2" aria-hidden="true"></i>Panel Principal
          </a>
          <a class="btn btn-outline-primary active" (click)="logout()">
            <i class="fa fa-sign-out-alt mr-2" aria-hidden="true"></i>Salir
          </a>
        </ng-container>

        <ng-container *ngIf="!currentUser" >
          <a class="btn btn-outline-primary active mr-3" routerLink="/login">
            <i class="fa fa-sign-in-alt mr-2" aria-hidden="true"></i>Ingresar
          </a>
          <a class="btn btn-outline-primary active mr-3" routerLink="/electivas">
            <i class="fa fa-sign-in-alt mr-2" aria-hidden="true"></i>Electivas
          </a>
        </ng-container>

      </div>
    </div>

  </nav>

  <div id="app-container" class="container d-sm-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </div>
</div>
<!--<ng-template #content let-c="close" let-d="dismiss">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Registro</h4>-->
<!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<modal-registro-estudiantes></modal-registro-estudiantes>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Cerrar</button>-->
<!--<button type="button" class="btn btn-outline-success" (click)="c('Close click')">Guardar</button>-->
<!--</div>-->
<!--</ng-template>-->

