$headerbar-height: 74px;

#header-container {
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 4;
}

main {
  background-image: url('../assets/img/backgrounds/background.png');
  box-shadow:
    0 12px 12px 16px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: calc(100vh - #{$headerbar-height});
}

#outlet-container {
  padding-top: calc(#{$headerbar-height} + 48px);
  min-height: calc(100vh - #{$headerbar-height});
}

#inner-container {
  min-height: calc(100vh - #{$headerbar-height});
}

body {
  background-color: darkgray;
}
