.navbar-nav {
  .nav-item.disabled {
    cursor: default;
  }
}

.navbar-brand{
  img{
    max-width: 150px;
    max-height: 50px;
  }
}

body {
  background-image: url("../assets/img/backgrounds/background.png");
}
