.navbar-nav {
  .nav-item.disabled {
    cursor: default;
  }
}

.navbar-brand{
  img{
    max-width: 150px;

    @media(max-width: 420px){
      max-height: 40px;
    }
    @media(min-width: 420px){
      max-height: 50px;
    }
  }
}

body {
  background-image: url("../assets/img/backgrounds/background.png");
}
