<md-toolbar color="primary">

  <span>{{title}}</span>
  <span class="navbar-spacer"></span>
  <div class="button-row">
    <button md-button (click)="goToRoute('dashboard')">Dashboard</button>
    <button md-button (click)="goToRoute('estudiantes')">Estudiantes</button>
    <button md-button (click)="goToRoute('prestamos')">Préstamos</button>
    <button md-button (click)="goToRoute('usuarios')">Usuarios</button>
  </div>
  <span class="navbar-spacer"></span>
  <div class="button-row">
    <button md-button>Cerrar Sesión</button>
  </div>

</md-toolbar>
<md-card id="app-container">
  <md-card-content>
      <router-outlet></router-outlet>
  </md-card-content>
</md-card>

