<h1 class="my-4 text-center">
  CALENDARIO ACADÉMICO 2020-21
</h1>
<div class="btn-group btn-block" role="group">
  <a class="btn btn-primary" href="calendario#marzo" role="button">Marzo</a>
  <a class="btn btn-primary" href="calendario#abril" role="button">Abril</a>
  <a class="btn btn-primary" href="calendario#mayo" role="button">Mayo</a>
  <a class="btn btn-primary" href="calendario#junio" role="button">Junio</a>
  <a class="btn btn-primary" href="calendario#julio" role="button">Julio</a>
</div>
<div class="btn-group btn-block" role="group">
  <a class="btn btn-primary" href="calendario#agosto" role="button">Agosto</a>
  <a class="btn btn-primary" href="calendario#septiembre" role="button"
    >Septiembre</a
  >
  <a class="btn btn-primary" href="calendario#octubre" role="button">Octubre</a>
</div>
<div class="btn-group btn-block" role="group">
  <a class="btn btn-primary" href="calendario#noviembre" role="button"
    >Noviembre</a
  >
  <a class="btn btn-primary" href="calendario#diciembre" role="button"
    >Diciembre</a
  >
  <a class="btn btn-primary" href="calendario#febrero" role="button"
    >Febrero 2021</a
  >
  <a class="btn btn-primary" href="calendario#marzo-b" role="button"
    >Marzo 2021</a
  >
</div>

<div class="row">
  <div class="col-md-4 mt-4" id="marzo">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Marzo</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="feriado">1</td>
          <td class="inscripciones rounded-left">2</td>
          <td class="inscripciones">3</td>
          <td class="inscripciones">4</td>
          <td class="inscripciones">5</td>
          <td class="inscripciones rounded-right">6</td>
          <td>7</td>
        </tr>
        <tr>
          <td class="feriado">8</td>
          <td>9</td>
          <td class="cuatrimestre rounded">10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td class="feriado">22</td>
          <td class="feriado">23</td>
          <td class="feriado">24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td class="feriado">29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      23. Puente Turístico <br />
      24. Día Nacional de la Memoria por la Verdad y la Justicia
    </p>
  </div>
  <div class="col-md-4 mt-4" id="abril">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Abril</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"></td>
          <td class="inicioPrimero rounded">1</td>
          <td class="feriado">2</td>
          <td>3</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="feriado">5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td class="feriado">10</td>
          <td>11</td>
        </tr>
        <tr>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td class="feriado">19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>
        <tr>
          <td class="feriado">26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      2. Día de los Veteranos y Caídos en la Guerra de Malvinas <br />
      10. Viernes Santo <br />
      12. Pascuas
    </p>
  </div>
  <div class="col-md-4 mt-4" id="mayo">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Mayo</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5"></td>
          <td class="feriado">1</td>
          <td>2</td>
        </tr>
        <tr>
          <td class="feriado">3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr>
          <td class="feriado">10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr>
          <td class="feriado">17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>
        <tr>
          <td class="feriado">24</td>
          <td class="feriado">25</td>
          <td class="examenes rounded-left">26*</td>
          <td class="examenes">27*</td>
          <td class="examenes">28*</td>
          <td class="examenes rounded-right">29*</td>
          <td>30</td>
        </tr>
        <tr>
          <td class="feriado">31</td>
        </tr>
      </tbody>
    </table>
    <p>
      1. Día del Trabajador <br />
      25. Revolución de Mayo <br />
      *Dictado de clases para el 1° Nivel
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4" id="junio">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Junio</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td class="feriado">7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="feriado">14</td>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td class="feriado">20</td>
        </tr>
        <tr>
          <td class="feriado">21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
        </tr>
        <tr>
          <td class="feriado">28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      15. Paso a la Inmortalidad del General Güemes <br />
      20. Paso a la Inmortalidad del General Belgrano
    </p>
  </div>
  <div class="col-md-4 mt-4" id="julio">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Julio</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"></td>
          <td>1</td>
          <td class="examenes rounded-left">2</td>
          <td class="examenes rounded-right">3</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="feriado">5</td>
          <td>6</td>
          <td class="examenes rounded-left">7</td>
          <td class="examenes rounded-right">8</td>
          <td class="feriado">9</td>
          <td class="cuatrimestre rounded">10</td>
          <td>11</td>
        </tr>
        <tr>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td class="feriado">19</td>
          <td class="inscripcionesF rounded-left">20</td>
          <td class="inscripcionesF">21</td>
          <td class="inscripcionesF">22</td>
          <td class="inscripcionesF">23</td>
          <td class="inscripcionesF">24</td>
          <td class="inscripcionesF rounded-right">25</td>
        </tr>
        <tr>
          <td class="feriado inscripcionesF rounded-left">26</td>
          <td class="inscripcionesF rounded-right">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      9. Día de la Independencia Argentina
    </p>
  </div>
  <div class="col-md-4 mt-4" id="agosto">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Agosto</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6"></td>
          <td>1</td>
        </tr>
        <tr>
          <td class="feriado">2</td>
          <td class="inscripciones rounded">3</td>
          <td class="examenes rounded-left">4</td>
          <td class="examenes">5</td>
          <td class="examenes">6</td>
          <td class="examenes rounded-right">7</td>
          <td class="inscripciones rounded">8</td>
        </tr>
        <tr>
          <td class="feriado inscripciones rounded-left">9</td>
          <td class="inscripciones rounded-right">10</td>
          <td>11</td>
          <td class="cuatrimestre rounded">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
        </tr>
        <tr>
          <td class="feriado">16</td>
          <td class="feriado inscripcionesF rounded-left">17</td>
          <td class="inscripcionesF">18</td>
          <td class="inscripcionesF">19</td>
          <td class="inscripcionesF">20</td>
          <td class="inscripcionesF">21</td>
          <td class="inscripcionesF rounded-right">22</td>
        </tr>
        <tr>
          <td class="feriado inscripcionesF rounded-left">23</td>
          <td class="inscripcionesF">24</td>
          <td class="inscripcionesF rounded-right">25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
        </tr>
        <tr>
          <td class="feriado">30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      17. Paso a la Inmortalidad del General San Martín
      19. Creación de la UON
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4" id="septiembre">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Septiembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"></td>
          <td class="examenes rounded-left">1</td>
          <td class="examenes">2</td>
          <td class="examenes">3</td>
          <td class="examenes rounded-right">4</td>
          <td>5</td>
        </tr>
        <tr>
          <td class="feriado">6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="feriado">13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr>
          <td class="feriado">20</td>
          <td class="feriado">21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td class="feriado">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      21. Día del Estudiante
    </p>
  </div>
  <div class="col-md-4 mt-4" id="octubre">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Octubre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td class="feriado">4</td>
          <td>5</td>
          <td class="examenes rounded-left">6</td>
          <td class="examenes">7</td>
          <td class="examenes">8</td>
          <td class="examenes rounded-right">9</td>
          <td>10</td>
        </tr>
        <tr>
          <td class="feriado">11</td>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
        </tr>
        <tr>
          <td class="feriado">18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
        </tr>
        <tr>
          <td class="feriado">25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      12. Respeto a la Diversidad Cultural
    </p>
  </div>
  <div class="col-md-4 mt-4" id="noviembre">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Noviembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="feriado">1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td class="feriado">8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td class="feriado">22</td>
          <td class="feriado">23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td class="feriado">29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      23. Día de la Soberanía Nacional (<abbr title="trasladable">trasl.</abbr>)
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4" id="diciembre">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Diciembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td class="cuatrimestre">4</td>
          <td>5</td>
        </tr>
        <tr>
          <td class="feriado">6</td>
          <td class="feriado">7</td>
          <td class="feriado">8</td>
          <td class="examenes rounded-left">9</td>
          <td class="examenes">10</td>
          <td class="examenes rounded-right">11</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="feriado">13</td>
          <td class="">14</td>
          <td>15</td>
          <td class="">16</td>
          <td class="">17</td>
          <td class="">18</td>
          <td>19</td>
        </tr>
        <tr>
          <td class="feriado">20</td>
          <td class="examenes rounded-left">21</td>
          <td class="examenes">22</td>
          <td class="examenes rounded-right">23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td class="feriado">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      7. Puente Turístico <br />
      8. Inmaculada Concepción <br />
      25. Navidad
    </p>
  </div>
  <div class="col-md-4 mt-4" id="febrero">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Febrero 2021</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td class="">2</td>
          <td class="examenes rounded-left">3</td>
          <td class="examenes">4</td>
          <td class="examenes rounded-right">5</td>
          <td>6</td>
        </tr>
        <tr>
          <td class="feriado">7</td>
          <td>8</td>
          <td class="">9</td>
          <td class="">10</td>
          <td class="">11</td>
          <td class="">12</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="feriado">14</td>
          <td class="feriado">15</td>
          <td class="feriado">16</td>
          <td class="examenes rounded-left">17</td>
          <td class="examenes">18</td>
          <td class="examenes rounded-right">19</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="feriado">21</td>
          <td>22</td>
          <td class="examenes rounded-left">23</td>
          <td class="examenes">24</td>
          <td class="examenes">25</td>
          <td class="examenes rounded-right">26</td>
          <td>27</td>
        </tr>
        <tr>
          <td class="feriado">28</td>
        </tr>
      </tbody>
    </table>
    <p>
      15 y 16. Carnaval
    </p>
  </div>
  <div class="col-md-4 mt-4" id="marzo-b">
    <table class="table shadow rounded">
      <thead>
        <tr>
          <th class="mes rounded-top" colspan="7">Marzo 2021</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td class="">2</td>
          <td class="examenes rounded-left">3</td>
          <td class="examenes">4</td>
          <td class="examenes rounded-right">5</td>
          <td>6</td>
        </tr>
        <tr>
          <td class="feriado">7</td>
          <td>8</td>
          <td class="">9</td>
          <td class="">10</td>
          <td class="">11</td>
          <td class="">12</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="feriado">14</td>
          <td class="">15</td>
          <td class="">16</td>
          <td class="">17</td>
          <td class="">18</td>
          <td class="">19</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="feriado">21</td>
          <td>22</td>
          <td class="">23</td>
          <td class="feriado">24</td>
          <td class="">25</td>
          <td class="">26</td>
          <td>27</td>
        </tr>
        <tr>
          <td class="feriado">28</td>
          <td>29</td>
          <td>30</td>
          <td>31x</td>
        </tr>
      </tbody>
    </table>
    <p>
      24. Día Nacional de la Memoria por la Verdad y la Justicia 
    </p>
  </div>
</div>

<div style="height: 125px;"></div>

<div class="row justify-content-center">
  <div class="referencias col-md-2 m-0 p-0">
    <table
      class="table rounded-top p-0 m-0 text-left"
      style="box-shadow: 0 -5px 1rem rgba(0, 0, 0, 0.5);"
    >
      <tbody>
        <tr>
          <td class="inscripciones rounded-top">&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>Inscripciones al Cursado</td>
        </tr>
        <tr>
          <td class="cuatrimestre"></td>
          <td>Inicio/Fin del cuatrimestre</td>
        </tr>
        <tr>
          <td class="inicioPrimero"></td>
          <td>Inicio de 1° nivel</td>
        </tr>
        <tr>
          <td class="examenes"></td>
          <td>Examenes finales</td>
        </tr>
        <tr>
          <td class="inscripcionesF"></td>
          <td>Inscripciones a examenes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
