<div class="row">
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Marzo</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="feriado">1</td>
          <td class="inscripciones">2</td>
          <td class="inscripciones">3</td>
          <td class="inscripciones">4</td>
          <td class="inscripciones">5</td>
          <td class="inscripciones">6</td>
          <td>7</td>
        </tr>
        <tr>
          <td class="feriado">8</td>
          <td>9</td>
          <td class="cuatrimestre">10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td class="feriado">22</td>
          <td class="feriado">23</td>
          <td class="feriado">24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td class="feriado">29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      23. Puente Turístico <br />
      24. Día Nacional de la Memoria por la Verdad y la Justicia
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Abril</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"></td>
          <td class="inicioPrimero">1</td>
          <td class="feriado">2</td>
          <td>3</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="feriado">5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td class="feriado">10</td>
          <td>11</td>
        </tr>
        <tr>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td class="feriado">19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
        </tr>
        <tr>
          <td class="feriado">26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      2. Día de los Veteranos y Caídos en la Guerra de Malvinas <br />
      10. Viernes Santo <br />
      12. Pascuas
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Mayo</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5"></td>
          <td class="feriado">1</td>
          <td>2</td>
        </tr>
        <tr>
          <td class="feriado">3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr>
          <td class="feriado">10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
        </tr>
        <tr>
          <td class="feriado">17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
        </tr>
        <tr>
          <td class="feriado">24</td>
          <td class="feriado">25</td>
          <td class="examenes">26*</td>
          <td class="examenes">27*</td>
          <td class="examenes">28*</td>
          <td class="examenes">29*</td>
          <td>30</td>
        </tr>
        <tr>
          <td class="feriado">31</td>
        </tr>
      </tbody>
    </table>
    <p>
      1. Día del Trabajador <br />
      25. Revolución de Mayo <br />
      *Dictado de clases para el 1° Nivel
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Junio</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td class="feriado">7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="feriado">14</td>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td class="feriado">20</td>
        </tr>
        <tr>
          <td class="feriado">21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
        </tr>
        <tr>
          <td class="feriado">28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      15. Paso a la Inmortalidad del General Güemes <br />
      20. Paso a la Inmortalidad del General Belgrano
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Julio</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3"></td>
          <td>1</td>
          <td class="examenes">2</td>
          <td class="examenes">3</td>
          <td>4</td>
        </tr>
        <tr>
          <td class="feriado">5</td>
          <td>6</td>
          <td class="examenes">7</td>
          <td class="examenes">8</td>
          <td class="feriado">9</td>
          <td class="cuatrimestre">10</td>
          <td>11</td>
        </tr>
        <tr>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
        </tr>
        <tr>
          <td class="feriado">19</td>
          <td class="inscripcionesF">20</td>
          <td class="inscripcionesF">21</td>
          <td class="inscripcionesF">22</td>
          <td class="inscripcionesF">23</td>
          <td class="inscripcionesF">24</td>
          <td class="inscripcionesF">25</td>
        </tr>
        <tr>
          <td class="feriado inscripcionesF">26</td>
          <td class="inscripcionesF">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      9. Día de la Independencia Argentina
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Agosto</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6"></td>
          <td>1</td>
        </tr>
        <tr>
          <td class="feriado">2</td>
          <td>3</td>
          <td class="examenes">4</td>
          <td class="examenes">5</td>
          <td class="examenes">6</td>
          <td class="examenes">7</td>
          <td>8</td>
        </tr>
        <tr>
          <td class="feriado">9</td>
          <td class="inscripciones">10</td>
          <td class="inscripciones">11</td>
          <td class="cuatrimestre">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
        </tr>
        <tr>
          <td class="feriado">16</td>
          <td class="feriado">17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
        </tr>
        <tr>
          <td class="feriado">23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
        </tr>
        <tr>
          <td class="feriado">30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      17. Paso a la Inmortalidad del General San Martín
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Septiembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td class="feriado">6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="feriado">13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr>
          <td class="feriado">20</td>
          <td class="feriado">21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td class="feriado">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      21. Día del Estudiante
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Octubre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td class="feriado">4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
        </tr>
        <tr>
          <td class="feriado">11</td>
          <td class="feriado">12</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
        </tr>
        <tr>
          <td class="feriado">18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
        </tr>
        <tr>
          <td class="feriado">25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      12. Respeto a la Diversidad Cultural
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Noviembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="feriado">1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td class="feriado">8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td class="feriado">15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td class="feriado">22</td>
          <td class="feriado">23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td class="feriado">29</td>
          <td>30</td>
        </tr>
      </tbody>
    </table>
    <p>
      23. Día de la Soberanía Nacional (<abbr title="trasladable">trasl.</abbr>)
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Diciembre</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td class="cuatrimestre">4</td>
          <td>5</td>
        </tr>
        <tr>
          <td class="feriado">6</td>
          <td class="feriado">7</td>
          <td class="feriado">8</td>
          <td class="examenes">9</td>
          <td class="examenes">10</td>
          <td class="examenes">11</td>
          <td>12</td>
        </tr>
        <tr>
          <td class="feriado">13</td>
          <td class="examenes">14</td>
          <td>15</td>
          <td class="examenes">16</td>
          <td class="examenes">17</td>
          <td class="examenes">18</td>
          <td>19</td>
        </tr>
        <tr>
          <td class="feriado">20</td>
          <td class="examenes">21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td class="feriado">27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
    <p>
      7. Puente Turístico <br />
      8. Inmaculada Concepción <br />
      25. Navidad
    </p>
  </div>
  <div class="col-md-4 mt-4">
    <table class="table shadow-lg">
      <thead>
        <tr>
          <th class="mes" colspan="7">Febrero 2021</th>
        </tr>
        <tr>
          <th class="feriado">D</th>
          <th>L</th>
          <th>M</th>
          <th>X</th>
          <th>J</th>
          <th>V</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td class="examenes">2</td>
          <td class="examenes">3</td>
          <td class="examenes">4</td>
          <td class="examenes">5</td>
          <td>6</td>
        </tr>
        <tr>
          <td class="feriado">7</td>
          <td>8</td>
          <td class="examenes">9</td>
          <td class="examenes">10</td>
          <td class="examenes">11</td>
          <td class="examenes">12</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="feriado">14</td>
          <td class="feriado">15</td>
          <td class="feriado">16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
        </tr>
        <tr>
          <td class="feriado">21</td>
          <td>22</td>
          <td class="examenes">23</td>
          <td class="examenes">24</td>
          <td class="examenes">25</td>
          <td class="examenes">26</td>
          <td>27</td>
        </tr>
        <tr>
          <td class="feriado">28</td>
        </tr>
      </tbody>
    </table>
    <p>
      15 y 16. Carnaval
    </p>
  </div>
</div>

<div style="height: 125px;"></div>

<div class="row justify-content-center">
  <div class="referencias col-md-2 m-0 p-0">
    <table class="table shadow-lg p-0 m-0 text-left">
      <tbody>
        <tr>
          <td class="inscripciones">&nbsp;&nbsp;&nbsp;</td>
          <td>Inscripciones al Cursado</td>
        </tr>
        <tr>
          <td class="cuatrimestre"></td>
          <td>Inicio/Fin del cuatrimestre</td>
        </tr>
        <tr>
          <td class="inicioPrimero"></td>
          <td>Inicio de 1° nivel</td>
        </tr>
        <tr>
          <td class="examenes"></td>
          <td>Examenes finales</td>
        </tr>
        <tr>
          <td class="inscripcionesF"></td>
          <td>Inscripciones a examenes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
