.mes {
  color: white;
  background: orangered;
}

.col-md-4 {
  border-radius: 15px;
}

.table {
  background: white;
  text-align: center;
}

td,
th {
  border-top: none;
  padding: 5px 0;
}

.feriado {
  font-weight: bold;
  color: #7e191b;
}

.inscripciones {
  background: #ffec95;
}

.cuatrimestre {
  background: #facfe2;
}

.inicioPrimero {
  background: #e3ea9d;
}

.examenes {
  background: #bbe3eb;
}

.inscripcionesF {
  background: #e1d5e9;
}

.referencias {
  position: fixed;
  bottom: 0;
}

.referencias td {
  margin: 1px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  padding: 3px;
}
