app-tarjeta-generica {
  a {
    color: inherit;
    text-decoration: underline;
  }

  .card-rounded-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }

  .card-rounded-bottom {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
  }

  .card-rounded {
    border-radius: 1rem !important;
  }

  .text-black {
    color: black;
  }

  .shadow-nohover {
    box-shadow:
      0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
